%h3 Show User

=gravatar_for(@user)

%p= "Username: #{@user.username}"

%h4 All your subs:
-if @user.subs.empty?
  %p no subs found
-else
  -@user.subs.each do |sub|
    .sub
      %p
        =link_to "#{sub.name} ", sub
      %p= sub.description
      %p= "Posts in sub: #{sub.posts.count}"

%h4 All your posts:
-@user.posts.each do |post|
  .post__excerpt
    %p
      =link_to "#{truncate(post.title, length: 100)} ", post
    %p
      &mdash;
      ="#{post.upvotes}/#{post.downvotes} created by "
      =link_to post.user.username, post.user
      ="on #{formatted_created_at(post)}"

%h4 All your comments:
-@user.comments.each do |comment|
  .comment
    =link_to comment.post.title, comment.post.link
    %p= comment.text
    %p
      &mdash;
      ="#{comment.upvotes}/#{comment.downvotes} created by "
      =link_to comment.user.username, comment.user
      ="on #{formatted_created_at(comment)} //"
      =link_to "#{comment.root.children.count} replies", comment
      ="//"
      =link_to "show post", comment.post
      ="(#{comment.post.comments.count} comments)"