.Entry-wrapper
  =gravatar_for(@user)

  %h5= "Username: #{@user.username}"
  %h5 Subs
  %p.Entry-paragraph
    -if @user.subs.empty?
      Not created a sub yet.
    -else
      ="You have created #{@user.subs.count} subs."
      =link_to 'Lets see..', :my_subs

  %h5 Posts
  %p.Entry-paragraph
    -if @user.posts.empty?
      Not posted anything yet.
    -else 
    ="You have created #{@user.posts.count} posts."
    =link_to 'Lets see..', :my_posts

  %h5 Comments
  %p.Entry-paragraph
    -if @user.comments.empty?
      No comments yet.
    -else
      ="You have created #{@user.comments.count} comments."
      =link_to 'Lets see..', :my_comments
