.voter
  %p= "#{obj.upvotes} / #{obj.downvotes} GESAMT: #{obj.upvotes - obj.downvotes}"

  %div.voter__button-wrapper
    -if signed_in?
      -v = current_user.voted_for(obj, current_user)
      -if v.nil?
        = link_to "UPVOTE", popmeter_path(obj.popmeter, is_upvote: true), class: "voter__vote", remote: true, method: :patch
        RESET
        = link_to "DOWNVOTE", popmeter_path(obj.popmeter, is_upvote: false), class: "voter__vote", remote: true, method: :patch
      -else
        -if v.is_upvote
          %span.voter__vote.voter__vote--current UPVOTE
          = link_to "RESET", popmeter_path(obj.popmeter), class: "voter__vote", remote: true, method: :delete
          = link_to "DOWNVOTE", popmeter_path(obj.popmeter, is_upvote: false), class: "voter__vote", remote: true, method: :patch
        -else
          = link_to "UPVOTE", popmeter_path(obj.popmeter, is_upvote: true), class: "voter__vote", remote: true, method: :patch
          = link_to "RESET", popmeter_path(obj.popmeter), class: "voter__vote", remote: true, method: :delete
          %span.voter__vote.voter__vote--current DOWNVOTE
    -else
      sign in to vote
