!!!
%html.no-js{"lang" => "en"}
  %head
    %meta{"name" => "viewport", "charset" => "utf-8", "content" => "width = device-width, user-scalable = no, initial-scale = 1.0"}
    %title Bronko [beta]
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      =render "layouts/flash_messages"

      .siteWrapper
        =render "layouts/header"

        .siteContent
          .mainContent
            = yield

          .sidebarContent
            = yield :sidebarContent
            / SUBSCRIPTIONS LIST
            -if signed_in?
              -if current_user.subscribed_subs.any?
                %li.siteLinks-item
                  %span.siteLinks-link My subscriptions
                  %ul.siteLinks-subList
                    -current_user.subscribed_subs.each do |s|
                      %li.siteLinks-item=link_to s.name, s, class: 'siteLinks-link'

              %p Add Sub button


        =render "layouts/footer"